USE [master]
GO
/****** Object:  Database [EPILAND_database]    Script Date: 21.05.2026 21:19:36 ******/
CREATE DATABASE [EPILAND_database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EPILAND_database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\EPILAND_database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EPILAND_database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\EPILAND_database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EPILAND_database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EPILAND_database]
GO
/****** Object:  Table [dbo].[birthday_items]    Script Date: 21.05.2026 21:19:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[birthday_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[category] [nvarchar](100) NULL,
	[price] [int] NULL,
	[age_min] [int] NULL,
	[age_max] [int] NULL,
	[description] [nvarchar](max) NULL,
	[park_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookings]    Script Date: 21.05.2026 21:19:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[chat_id] [bigint] NULL,
	[park_id] [int] NULL,
	[room_id] [int] NULL,
	[children_count] [int] NULL,
	[age] [int] NULL,
	[date] [nvarchar](50) NULL,
	[time] [nvarchar](20) NULL,
	[phone] [nvarchar](30) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[entertainments] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entertainments]    Script Date: 21.05.2026 21:19:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entertainments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[park_id] [int] NULL,
	[name] [nvarchar](255) NULL,
	[age_min] [int] NULL,
	[age_max] [int] NULL,
	[type] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[price_unit_weekday] [int] NULL,
	[price_unit_weekend] [int] NULL,
	[weight_max_kg] [int] NULL,
	[unit_details] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parks]    Script Date: 21.05.2026 21:19:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[city] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[contacts] [nvarchar](max) NULL,
	[address] [nvarchar](max) NULL,
	[working_hours] [nvarchar](max) NULL,
	[social_media] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 21.05.2026 21:19:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[park_id] [int] NULL,
	[name] [nvarchar](255) NULL,
	[theme] [nvarchar](255) NULL,
	[capacity] [int] NULL,
	[age_min] [int] NULL,
	[age_max] [int] NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tariffs_packages]    Script Date: 21.05.2026 21:19:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tariffs_packages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[park_id] [int] NULL,
	[name] [nvarchar](255) NULL,
	[price_weekday] [int] NULL,
	[duration] [nvarchar](100) NULL,
	[type] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[price_weekend] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[time_slots]    Script Date: 21.05.2026 21:19:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[time_slots](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[park_id] [int] NULL,
	[room_id] [int] NULL,
	[date] [date] NULL,
	[time] [time](0) NULL,
	[is_available] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_state]    Script Date: 21.05.2026 21:19:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_state](
	[chat_id] [bigint] NOT NULL,
	[state_data] [nvarchar](max) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[chat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[birthday_items] ON 

INSERT [dbo].[birthday_items] ([id], [name], [category], [price], [age_min], [age_max], [description], [park_id]) VALUES (1, N'Треш-шоу', N'Шоу-програми', 5500, 6, 18, N'🔥 Готуйтеся до вибуху емоцій! Діти стають учасниками справжнього треш-шоу: експерименти з вогнем 🔥, водою 💦, лазерами та ілюзіями. Кожен номер — це вау-ефект і несподіваний поворот. Тут можна сміятися, дивуватися і навіть трохи "ризикувати" (але безпечно 😉). Тривалість: 40 хв. До 10 учасників.', 1)
INSERT [dbo].[birthday_items] ([id], [name], [category], [price], [age_min], [age_max], [description], [park_id]) VALUES (2, N'Віллі Вонка', N'Шоу-програми', 5500, 4, 18, N'🍫 Ласкаво просимо на чарівну фабрику! Разом із Віллі Вонкою діти створюють фантастичний шоколад, збирають магічні інгредієнти та запускають міні-фабрику. У фіналі — справжні солодкі сюрпризи. Атмосфера казки, інтерактив і море радості гарантовані!', 1)
INSERT [dbo].[birthday_items] ([id], [name], [category], [price], [age_min], [age_max], [description], [park_id]) VALUES (3, N'Твістинг шоу', N'Шоу-програми', 7000, 2, 18, N'🎈 Веселе шоу, де звичайні кульки перетворюються на тварин, квіти та улюблених персонажів. Діти беруть участь у процесі та отримують власний сувенір. Багато жартів, руху і гарного настрою!', 1)
SET IDENTITY_INSERT [dbo].[birthday_items] OFF
GO
SET IDENTITY_INSERT [dbo].[bookings] ON 

INSERT [dbo].[bookings] ([id], [chat_id], [park_id], [room_id], [children_count], [age], [date], [time], [phone], [status], [created_at], [entertainments]) VALUES (2, 1850813876, 1, 4, 12, 7, N'2026-06-05', N'10:00:00', N'380962834922', N'confirmed', CAST(N'2026-05-10T22:35:25.363' AS DateTime), N'Hurricane 360')
INSERT [dbo].[bookings] ([id], [chat_id], [park_id], [room_id], [children_count], [age], [date], [time], [phone], [status], [created_at], [entertainments]) VALUES (3, 1850813876, 1, 3, 7, 4, N'2026-06-05', N'17:00:00', N'380962834922', N'confirmed', CAST(N'2026-05-10T22:37:56.710' AS DateTime), N'')
INSERT [dbo].[bookings] ([id], [chat_id], [park_id], [room_id], [children_count], [age], [date], [time], [phone], [status], [created_at], [entertainments]) VALUES (4, 1850813876, 1, 6, 12, 14, N'2026-06-01', N'15:00:00', N'380962834922', N'confirmed', CAST(N'2026-05-16T22:48:54.260' AS DateTime), N'Автодром, 3D шоу Подорож в просторі та часі')
SET IDENTITY_INSERT [dbo].[bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[entertainments] ON 

INSERT [dbo].[entertainments] ([id], [park_id], [name], [age_min], [age_max], [type], [description], [price_unit_weekday], [price_unit_weekend], [weight_max_kg], [unit_details]) VALUES (1, 1, N'Ігровий майданчик EPILAND', 0, 14, N'playground', N'Ігровий майданчик "EPILAND" Лабіринт, Батут, Ніндзя парк, Приставки, Тюбінг, Скеледром, Зона іграшок, 4KIDS (вхід лише у шкарпетках)', 400, 600, NULL, N'безлімітне перебування')
INSERT [dbo].[entertainments] ([id], [park_id], [name], [age_min], [age_max], [type], [description], [price_unit_weekday], [price_unit_weekend], [weight_max_kg], [unit_details]) VALUES (2, 1, N'Автодром', 0, 14, N'ride', N'Автодром 10 унікальних машинок у вигляді тваринок, автомобілів і мотоциклів', 180, 200, 120, N'1 сеанс')
INSERT [dbo].[entertainments] ([id], [park_id], [name], [age_min], [age_max], [type], [description], [price_unit_weekday], [price_unit_weekend], [weight_max_kg], [unit_details]) VALUES (3, 1, N'Водяна гойдалка', 0, 14, N'ride', N'Водяна гойдалка Злітай на гойдалці з водоспадом під крилами казкового дракона', 150, 170, NULL, N'1 сеанс')
SET IDENTITY_INSERT [dbo].[entertainments] OFF
GO
SET IDENTITY_INSERT [dbo].[parks] ON 

SET IDENTITY_INSERT [dbo].[parks] OFF
GO
SET IDENTITY_INSERT [dbo].[rooms] ON 

INSERT [dbo].[rooms] ([id], [park_id], [name], [theme], [capacity], [age_min], [age_max], [description]) VALUES (1, 1, N'Sky Wizard', N'Магія та небо', 15, 6, 16, N'🔮 Оселя небесного мага! Інтерактивні панелі з сузір’ями, магічні артефакти та атмосфера польоту над хмарами.')
INSERT [dbo].[rooms] ([id], [park_id], [name], [theme], [capacity], [age_min], [age_max], [description]) VALUES (2, 1, N'Чарівний ліс', N'Природа та фентезі', 12, 3, 12, N'🌿 Зачаровані дерева, що світяться, та звуки природи. Місце, де оживають лісові казки та чекають приховані стежки.')
INSERT [dbo].[rooms] ([id], [park_id], [name], [theme], [capacity], [age_min], [age_max], [description]) VALUES (3, 1, N'Океанія', N'Підводний світ', 20, 4, 14, N'🌊 Глибоководна пригода! Стіни-акваріуми з проекціями морських жителів та ігрові зони у формі коралів та батискафів.')
SET IDENTITY_INSERT [dbo].[rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[tariffs_packages] ON 

INSERT [dbo].[tariffs_packages] ([id], [park_id], [name], [price_weekday], [duration], [type], [description], [price_weekend]) VALUES (1, 1, N'Пакетний тариф "День Народження"', 650, N'5 атракціонів', N'Пакет', N'🎂 Ідеальне свято! 5 будь-яких атракціонів на вибір для кожного гостя. Діє від 5 дітей, а іменинник розважається безкоштовно!', 650)
INSERT [dbo].[tariffs_packages] ([id], [park_id], [name], [price_weekday], [duration], [type], [description], [price_weekend]) VALUES (2, 1, N'Пільговий тариф: Ігровий майданчик', 250, N'Безліміт', N'Пільговий', N'🌟 Спеціальна пропозиція для пільгових категорій. Доступ до лабіринту, батутів, ніндзя-парку та скеледрому за вигідною ціною. Діє при пред’явленні документів.', 450)
INSERT [dbo].[tariffs_packages] ([id], [park_id], [name], [price_weekday], [duration], [type], [description], [price_weekend]) VALUES (3, 1, N'Пільговий тариф "Екстрим"', 400, N'7 атракціонів', N'Пільговий', N'🚀 7 драйвових атракціонів на вибір! Спеціальна ціна для дітей-сиріт, багатодітних родин, осіб з інвалідністю та сімей захисників України. Діє при пред’явленні документів.', 600)
SET IDENTITY_INSERT [dbo].[tariffs_packages] OFF
GO
SET IDENTITY_INSERT [dbo].[time_slots] ON 

INSERT [dbo].[time_slots] ([id], [park_id], [room_id], [date], [time], [is_available]) VALUES (1, 1, 1, CAST(N'2026-06-01' AS Date), CAST(N'12:30:00' AS Time), 1)
INSERT [dbo].[time_slots] ([id], [park_id], [room_id], [date], [time], [is_available]) VALUES (2, 1, 2, CAST(N'2026-06-01' AS Date), CAST(N'17:30:00' AS Time), 0)
INSERT [dbo].[time_slots] ([id], [park_id], [room_id], [date], [time], [is_available]) VALUES (3, 1, 3, CAST(N'2026-06-01' AS Date), CAST(N'15:00:00' AS Time), 1)
GO
SET IDENTITY_INSERT [dbo].[time_slots] OFF
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT ('confirmed') FOR [status]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_state] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[birthday_items]  WITH CHECK ADD  CONSTRAINT [FK_birthday_items_parks] FOREIGN KEY([park_id])
REFERENCES [dbo].[parks] ([id])
GO
ALTER TABLE [dbo].[birthday_items] CHECK CONSTRAINT [FK_birthday_items_parks]
GO
ALTER TABLE [dbo].[entertainments]  WITH CHECK ADD FOREIGN KEY([park_id])
REFERENCES [dbo].[parks] ([id])
GO
ALTER TABLE [dbo].[rooms]  WITH CHECK ADD FOREIGN KEY([park_id])
REFERENCES [dbo].[parks] ([id])
GO
ALTER TABLE [dbo].[tariffs_packages]  WITH CHECK ADD FOREIGN KEY([park_id])
REFERENCES [dbo].[parks] ([id])
GO
ALTER TABLE [dbo].[time_slots]  WITH CHECK ADD FOREIGN KEY([park_id])
REFERENCES [dbo].[parks] ([id])
GO
ALTER TABLE [dbo].[time_slots]  WITH CHECK ADD FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
USE [master]
GO
